.navigation {
    position: relative;
    width: 256px;
    height: 100%;
    background: #C8C2C2;
    overflow: hidden;
}

.navigation > .toolbox {
    display: block;
}

.navigation > .created-attributes{
    border: 1px;
    border-style: dashed;
    border-color: lightgoldenrodyellow;
}

.created-attributes > .attributes {
    display: block;
    text-align: center;
}

.created-attributes > .items {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 7px;
    margin-top: 7px;
    display: block;
    width: 95%;
    max-height: 256px;
}

.created-attributes > .items > .properties {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.properties input {
    width: 100px;
    height: 25px;
}

.action-buttons {
    margin: 7px;
    display: flex;
    justify-content: space-between;
}

.attributes > select {
    width: 95%;
}

.toolbox > .items {
    display: flex;
    height: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 15px;
    background: #d1cdcd;
}

.item { 
    cursor: pointer;
    transition: 0.5s;
    padding: 2px;
    color: #6A8BB4;
}

.file-upload-label{
    cursor: pointer;
}

.item-selected { 
    cursor: pointer;
    transition: 0.5s;
    color: #6A8BB4;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
}

.item-selected:hover { 
    background: #b9b5b5;
}

.item:hover{
    background: #b9b5b5;
}

.toolbox > .title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #6A8BB4;
}

.created-attributes > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #6A8BB4;
}