@import '~antd/dist/antd.css';
body {
    overflow: hidden;
}
/* width */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
*::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
  }