.container {
    display: grid;
    grid-template-rows: 60px auto;
    overflow: hidden;
    background: #ffffff;
    width: 100vw;
    height: 100vh;
}

.content-true {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 256px auto 300px;
}

.content-false {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 256px auto;
}

.grid-options-true {
    position:absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    bottom:0;
    right: 310px;
}

.grid-options-true input {
    margin: 2px;
    height: 25px;
    width: 50px;
}

.grid-options-false {
    position:absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    bottom:0;
    right: 10px;
}

.grid-options-false input {
    height: 25px;
    margin: 2px;
    width: 50px;
}

.grid-snap span{
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.connect{
    position:absolute;
    margin: 0;
    bottom:0;
    left: 80px;   
}

@media only screen and (max-width: 700px) {
    .content-true {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 60px auto;
    }

    .grid-options-true {
        position:absolute;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0;
        bottom:0;
        right: 10px;
    }
}