.mesh-content {
    width: 100%;
}

.mesh-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mesh-container > span {
    font-size: 14px;
    font-weight: bold;
}

.mesh-container > input {
    width: 100px
}