.attributes-content{
    position: absolute;
    display: grid;
    width: 356px;
    grid-template-rows: auto auto;
    top: 66px;
    left: 262px;
    background:  #C8C2C2;
}

.attributes-content .title{
    display: block;
    display: flex;
    background: #345574;
    margin: 0;
    padding: 0;
    height: 40px;
    cursor: move;
}

.title h4{
    margin: 0;
    margin-left: 5px;
    margin-top: 10px;
    color: #C8C2C2;
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    padding: 0;
}


.attributes-content .icon {
    position: absolute;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    right: 15px;
    display: inline;
    color: #C8C2C2;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.attributes-content .icon:hover{
    color: black;
}

.attributes-content > .content{
    display: grid;
    padding: 2px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.attributes-content p{
    margin:5px;
    margin-right:15px;
    margin-bottom: 10px;
    padding: 0;
}

.attributes-content button{
    margin: 5px;
}

.attributes-content .prototypes{
    display: table-row;
    grid-template-columns: auto auto;
    max-height: 400px;
    overflow-y: scroll;
}

.attributes-content .prototypes .att-name{
    display: flex;
    justify-content: space-between;
}

.attributes-content hr {
    margin: 5px;
    padding: 0;
    border-top: 1px solid #ffffff;
}